<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission Success</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='electrolab export 2.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
 .success-icon {
        font-size: 3rem;
        text-align: center;  
        margin-bottom: 1rem;
    }
    </style>
    <script>
        setTimeout(function() {
            window.location.href = "https://www.electrolabgroup.com/";
        }, 10000);
    </script>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='Electrolab.png') }}" alt="Success Image" style="max-width: 200px; display: block; margin: 0 auto 20px;padding-top: 75px;">
        <h1 style="color: aqua; padding-top: 50px;">You're all set!</h1>
        <h1 style="color: aqua; padding-top: 50px;">We've saved your details successfully.</h1>
        <p style="color: white;padding-top: 50px; font-size: 18px;">Thanks for reaching out — we'll get in touch with you soon !!</p>
        <div class="success-icon" style="padding-top: 50px;">✅</div>
    </div>
</body>
</html>

